<mat-toolbar color="primary">
  <span class="logo">Akeo Khape</span>
  <span class="spacer"></span>
  <a mat-button class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
  <a mat-button class="nav-link" routerLink="/about" routerLinkActive="active-link">About</a>
  <a mat-button class="nav-link" routerLink="/services" routerLinkActive="active-link">Services</a>
  <a mat-button class="nav-link" routerLink="/blog" routerLinkActive="active-link">Blog</a>
  <a mat-button class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact</a>
  <span class="spacer"></span>
  <!-- <mat-form-field appearance="outline" class="navbar-search">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search...">
    <button mat-icon-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field> -->
  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
